__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
uploads/*
!uploads/.gitkeep
certificados_word/*
!certificados_word/.gitkeep
certificados_pdf/*
!certificados_pdf/.gitkeep
archivos_zip/*
!archivos_zip/.gitkeep
.idea/
.vscode/
Thumbs.db
ehthumbs.db
